/* VARIABLES */
:root {
    --color-main: hsl(16, 100%, 59%);
    --color-bg: hsl(0, 2%, 10%);
    --color-bg-alt: hsl(0, 0%, 15%);
    --color-border: hsl(0, 0%, 45%);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-family: "Oswald", sans-serif;
}

/* GENERAL */
body {
    background-color: var(--color-bg);
    min-height: 100vh;
}

#popup {
    position: absolute;
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    z-index: 1;
}

#popup h3, #popup p, #popup button {
    color: black;
    font-family: sans-serif;
}

#popup h3 {
    margin-bottom: 1rem;
}

button {
    padding: 0.25rem 1rem;
    margin: 1rem 0.5rem 0 0.5rem;
    cursor: pointer;
}

header {
    flex-grow: 0.25;
    margin-bottom: 4rem;
}

main {
    background-color: var(--color-bg-alt);
    width: 85%;
    flex-grow: 1;
    border-radius: 15%;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#grid div {
    height: 6rem;
    width: 6rem;
    color: var(--color-main);
    font-size: 3rem;
    cursor: pointer;
}

#result {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    visibility: hidden;
}

#restartBtn {
    background-color: transparent;
    font-size: 1.5rem;
    border-color: var(--color-main);
    opacity: 0.75;
    transition: opacity 250ms ease-out;
}

#restartBtn:hover {
    opacity: 1;
}

footer {
    width: 100%;
    border-top: 1px solid white;
    margin-top: 6rem;
}

/* CLASSES */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.border-right {
    border-right: 1px solid var(--color-border);
}

.border-bottom {
    border-bottom: 1px solid var(--color-border);
}

.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
}

.enabled {
    opacity: 1;
    transition: opacity 1.8s ease-in-out;
}

.translate {
    animation: translateAnimation 1s cubic-bezier(0.56, -0.56, 1, 1) forwards;
}

.changeColor {
    animation: changingColorsAnimation 3s ease-in-out forwards;
}

/* KEYFRAMES */
@keyframes translateAnimation {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes changingColorsAnimation {
    0% {
        background-color: var(--color-bg-alt);
    }
    16.5% {
        background-color: white;
    }
    33% {
        background-color: var(--color-bg-alt);
    }
    49.5% {
        background-color: white;
    }
    66% {
        background-color: var(--color-bg-alt);
    }
    100% {
        background-color: white;
    }
}


/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
    main {
        width: 45%;
    }

    #popup {
        width: 25%;
    }
}